@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(97% 0.013 236.62);
    --color-base-200: oklch(95% 0.026 236.824);
    --color-base-300: oklch(90% 0.058 230.902);
    --color-base-content: oklch(39% 0.09 240.876);
    --color-primary: oklch(71% 0.203 305.504);
    --color-primary-content: oklch(29% 0.149 302.717);
    --color-secondary: oklch(70% 0.165 254.624);
    --color-secondary-content: oklch(28% 0.091 267.935);
    --color-accent: oklch(82% 0.189 84.429);
    --color-accent-content: oklch(27% 0.077 45.635);
    --color-neutral: oklch(50% 0.134 242.749);
    --color-neutral-content: oklch(97% 0.013 236.62);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(26% 0.065 152.934);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

