@import "tailwindcss";
@plugin "daisyui";



@plugin "daisyui/theme" {
    name: "Crop_Management";
    default: true;
    prefersdark: true;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.005 120);
    --color-base-200: oklch(94% 0.008 120);
    --color-base-300: oklch(88% 0.012 120);
    --color-base-content: oklch(25% 0.015 145);
    --color-primary: oklch(50% 0.118 165.612);
    --color-primary-content: oklch(98% 0.01 145);
    --color-secondary: oklch(50% 0.08 60);
    --color-secondary-content: oklch(98% 0.01 60);
    --color-accent: oklch(75% 0.15 85);
    --color-accent-content: oklch(25% 0.05 85);
    --color-neutral: oklch(35% 0.02 145);
    --color-neutral-content: oklch(95% 0.01 145);
    --color-info: oklch(60% 0.18 240);
    --color-info-content: oklch(98% 0.01 240);
    --color-success: oklch(52% 0.154 150.069);
    --color-success-content: oklch(98% 0.01 145);
    --color-warning: oklch(70% 0.18 75);
    --color-warning-content: oklch(25% 0.05 75);
    --color-error: oklch(55% 0.22 25);
    --color-error-content: oklch(98% 0.01 25);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}


